body{
   background: url(rock-paper-scissors-neon-icons-vector.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #333;

}

.btn-choice{
    transition: transform 0.3s;
}

.btn-choice:hover{
    transform: scale(1.1);
}

.fade-in{
    animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
    from{opacity: 0;transform: translateY(15px);}
    to{opacity: 1;transform: translateY(0);}
}

.restart{
    transition: transform 0.3s;
    &:hover{
        transform: scale(1.1);
    }
}
.container{
    background: rgb(30, 28, 0.8);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
  padding: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px #595858;
  max-width: 600px;
}

.fade-in{
    animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
   from {
        opacity: 1;
        transform: translateY(0);
    }
}

#winnerPopup {
    display: none;
    background: rgb(255, 255, 255, 0.015);
    border: 2px solid #c5c1c1;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-top: 25px;
    width: 300px;
    height: 300px;
    animation: bounceIn 1.2s ease;
    color: white;
    /* font-size: small; */
}

#finalWinnerText {
    font-size: 100px;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.slide-in {
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



#leaderboardContainer {
    position: fixed;
    top: 20px;
    right: 100px;
    border: 1px solid  rgba(255, 255, 255, 0.2);
    margin-top: 30px;
     background: rgba(255, 255, 255, 0.15);
     border-radius: 10px;
     padding: 15px;
     max-width: 80%;
     color: white;
     box-shadow: 0 4px 20px , rgba(0, 0, 0,0.2);
     z-index: 9999;
     transition: all 0.3s ease-in-out;

}

/* #leaderboardContainer h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
    color: #ffd700; 
} */


@media(max-width:768px){

    #leaderboardContainer{
        position: relative;
        margin: 10px auto;
        width: 90%;
        right: 0;
        top: 0;
    }

}

#leaderboardList li{
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
    border: none;
    color: white;
}

#confettiCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}

@keyframes fadeOut {
    from{
        opacity: 1;

    }
    to {
        opacity: 0;
    }
}



